dj-database-url==0.3.0
Django==1.7.3
django-cors-headers==1.0.0
django-postgrespool==0.3.0
djangorestframework==3.1.1
phonenumbers==7.0.2
psycopg2==2.5.4
python-dateutil==2.4.0
six==1.9.0
South==1.0.2
SQLAlchemy==0.9.8
waitress==0.8.9
django-push-notifications==1.2.1
django-crontab==0.6.0
django-uuidfield==0.5.0
whitenoise==1.0.6
django-geoposition==0.2.2
pytz=2015.7
