option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "dancestudio.settings"
    PYTHONPATH: "/opt/python/current/app/django_eb:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "dancestudio/wsgi.py"

container_commands:
   01_wsgipass:
     command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

