.blue{
	color:blue;
}
.red{
	color:red;
}
.yellow{
	color:yellow;
}
.green{
	color:green;
}
.orange{
	color:orange;
}

.sway-member{
	color:orange;
}

.sway-edit{
	color:green;
}

.sway-delete{
	color:red;
}