
{% extends "base_home.html" %}

{% block title %}Art 2 Fitness{% endblock%}

{% block content %}
<div class="ui-widget">

"The Mumbai dinner had space for a maximum of 200 donors, mostly our supporters. Most of those who attended were young professionals, some diamond merchants and a few directors from Bollywood," she said. 

AAP's Maharashtra unit has a target of raising Rs 5 crore over the next two months through reach-out drives," she said. 

In the run-up to this year's Lok Sabha elections, Kejriwal had in March hosted a fund-raising dinner in Bengaluru inviting criticism from Congress which questioned whether the AAP leader, who then also charged Rs 20,000 per person for having a meal with him, could claim to represent the common man. 

"Kejriwal has appealed people to donate for the party," Menon said. 


</div>
{% endblock %}

  {% block rightmenu %}
  
"The Mumbai dinner had space for a maximum of 200 donors, mostly our supporters. Most of those who attended were young professionals, some diamond merchants and a few directors from Bollywood," she said. 

AAP's Maharashtra unit has a target of raising Rs 5 crore over the next two months through reach-out drives," she said. 

In the run-up to this year's Lok Sabha elections, Kejriwal had in March hosted a fund-raising dinner in Bengaluru inviting criticism from Congress which questioned whether the AAP leader, who then also charged Rs 20,000 per person for having a meal with him, could claim to represent the common man. 

"Kejriwal has appealed people to donate for the party," Menon said. 

		 {% endblock %}
		 
		  