{% extends "bootstrap_base.html" %}

{% block head%}
<!-- for adding anything to html head -->
{% endblock%}

{% block title %}
<!-- change the title from here -->
Art 2 Fitness

{% endblock%}

{% block navigation %}
<!-- Define your navigation in this -->
 					<li>
                      <a href="/rango/members">About</a>
                    </li>
                     <li>
                        <a href="login">Login</a>
                    </li>
                    
{% endblock %}

{% block container %}
<!-- Define your content here-->


{% endblock%}
