{% extends "bs_base.html" %}{% load staticfiles %}

{% block head%}
<link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'sway/css/forms.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/jquery.js' %}"></script>   
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'bootstrap/js/moment.js' %}"></script> 	 	
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
{% endblock%}

{% block container %}
<div id="form">
{% if id %}
<form action="{% url 'member_edit' id=id %}" class="form-horizontal"  method="POST" role="form">
{% elif lead %}
<form action="{% url 'lead_to_member' lead=lead %}" class="form-horizontal" method="POST" role="form">
{% else %}
<form action="{% url 'member_add' %}" class="form-horizontal" method="POST" role="form">
{% endif %}			

{% csrf_token %}

{% if not form.first_name.errors %}
 <div class="form-group">
 	<label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">First Name:</label>
 	<div class="col-sm-10">
    {{ form.first_name }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.first_name.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">First Name:</label>
 	<div class="col-sm-10">
 	   {{ form.first_name }}
    </div>
 </div>
 {% endif %}


{% if not form.last_name.errors %}
 <div class="form-group">
 	<label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">Last Name:</label>
 	<div class="col-sm-10">
    {{ form.last_name }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.last_name.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">Last Name:</label>
 	<div class="col-sm-10">
 	   {{ form.last_name }}
    </div>
 </div>
 {% endif %}

{% if not form.email.errors %}
 <div class="form-group">
 	<label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">Email:</label>
 	<div class="col-sm-10">
    {{ form.email }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.email.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">Email:</label>
 	<div class="col-sm-10">
 	   {{ form.email }}
    </div>
 </div>
 {% endif %}
 
 {% if not form.gender.errors %}
 <div class="form-group">
 	<label for="{{ form.gender.id_for_label }}" class="col-sm-2 control-label">Gender:</label>
 	<div class="col-sm-10">
    {{ form.gender }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.area.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.gender.id_for_label }}" class="col-sm-2 control-label">Gender:</label>
 	<div class="col-sm-10">
 	   {{ form.gender }}
    </div>
 </div>
 {% endif %}
 

{% if not form.area.errors %}
 <div class="form-group">
 	<label for="{{ form.area.id_for_label }}" class="col-sm-2 control-label">Address:</label>
 	<div class="col-sm-10">
    {{ form.area }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.area.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.area.id_for_label }}" class="col-sm-2 control-label">Address:</label>
 	<div class="col-sm-10">
 	   {{ form.area }}
    </div>
 </div>
 {% endif %}

 


 {% if not form.mobile.errors %}
   <div class="form-group"> 
  <label for="{{ form.categories.id_for_label }}" class="col-sm-2 control-label">Mobile:</label>
    <div class='col-sm-10' >
      {{ form.mobile }}
                </div>
                 
  </div>
 {% else %}
 <div class="row">
  <p class="col-sm-2"></p>
  <p class="col-sm-10 text-danger">{{ form.mobile.errors.as_text }}</p>
 </div> 
  <div> 
  <label for="{{ form.categories.id_for_label }}" class="col-sm-2 control-label">Mobile:</label>
    <div class='col-sm-10' >
      {{ form.mobile }} 
    </div>
                 
  </div>
 
 {% endif %}



 {% if not form.joining_date.errors %}
   <div class="form-group"> 
  <label for="{{ form.categories.id_for_label }}" class="col-sm-2 control-label">Joining Date:</label>
    <div class='col-sm-10' >
      {{ form.joining_date }}
                </div>
                 
  </div>
 {% else %}
 <div class="row">
  <p class="col-sm-2"></p>
  <p class="col-sm-10 text-danger">{{ form.joining_date.errors.as_text }}</p>
 </div> 
  <div> 
  <label for="{{ form.categories.id_for_label }}" class="col-sm-2 control-label">Joining Date:</label>
    <div class='col-sm-10' >
      {{ form.joining_date }} 
    </div>
                 
  </div>
 
 {% endif %}

 
 {% if not form.categories.errors %}
   <div class="form-group"> 
  <label for="{{ form.categories.id_for_label }}" class="col-sm-2 control-label">Category:</label>
    <div class='col-sm-10' >
      {{ form.categories }}
                </div>
                 
  </div>
 {% else %}
 <div class="row">
  <p class="col-sm-2"></p>
  <p class="col-sm-10 text-danger">{{ form.categories.errors.as_text }}</p>
 </div> 
  <div> 
  <label for="{{ form.categories.id_for_label }}" class="col-sm-2 control-label">Category:</label>
    <div class='col-sm-10' >
      {{ form.categories }} 
    </div>
                 
  </div>
 
 {% endif %}



<div class="span7 text-center">
	<button type="submit" class="btn btn-primary" >Submit</button>
</div>
  <script type="text/javascript">
            $(function () {
                $('#id_joining_date').datetimepicker({
              
             pickTime: false
        });
            });
        </script> 
</form>
</div>
{% endblock %}

