{% extends "bs_base.html" %}{% load staticfiles %}
{% block head%}
<link href="{% static 'sway/css/forms.css' %}" rel="stylesheet">
{% endblock%}

{% block title %}
Art 2 Fitness

{% endblock%}
{% block container %}
<div id="form">
{% if id %}
<form action="{% url 'member_edit' id=id %}" class="form-horizontal"  method="POST" role="form">
{% else %}
<form action="{% url 'member_add' %}" class="form-horizontal" method="POST" role="form">
{% endif %}			

{% csrf_token %}

{% if not form.first_name.errors %}
 <div class="form-group">
 	<label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">First Name:</label>
 	<div class="col-sm-10">
    {{ form.first_name }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.first_name.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">First Name:</label>
 	<div class="col-sm-10">
 	   {{ form.first_name }}
    </div>
 </div>
 {% endif %}


{% if not form.last_name.errors %}
 <div class="form-group">
 	<label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">Last Name:</label>
 	<div class="col-sm-10">
    {{ form.last_name }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.last_name.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">Last Name:</label>
 	<div class="col-sm-10">
 	   {{ form.last_name }}
    </div>
 </div>
 {% endif %}

{% if not form.email.errors %}
 <div class="form-group">
 	<label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">Email:</label>
 	<div class="col-sm-10">
    {{ form.email }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.email.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">Email:</label>
 	<div class="col-sm-10">
 	   {{ form.email }}
    </div>
 </div>
 {% endif %}

{% if not form.area.errors %}
 <div class="form-group">
 	<label for="{{ form.area.id_for_label }}" class="col-sm-2 control-label">Address:</label>
 	<div class="col-sm-10">
    {{ form.area }}
    </div>
  </div>
 {% else %}
 <div class="row">
 	<p class="col-sm-2"></p>
 	<p class="col-sm-10 text-danger">{{ form.area.errors.as_text }}</p>
 </div>	
 <div class="form-group has-error">
   	<label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">Address:</label>
 	<div class="col-sm-10">
 	   {{ form.area }}
    </div>
 </div>
 {% endif %}
 
<div class="span7 text-center">
	<button type="submit" class="btn btn-primary" >Submit</button>
</div>
  
</form>
</div>
{% endblock %}

