
{% extends "bs_base.html" %}

{% block title %}
Art 2 Fitness

{% endblock%}

{% block container %}

<div>
<form action="{% url 'save_instructor'  %}" method="POST" role="form">
{% csrf_token %}

 <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="first_name">
  </div>

<div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" placeholder="Enter last name" name="last_name">
  </div>
  
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email address " name="email">
  </div>
  
   <div class="form-group">
    <label for="contactNumber">Contact Number</label>
    <input type="number" class="form-control" id="contact_number" placeholder="Enter your address " name="contact_number">
  </div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
{% endblock %}

