{% extends "bs_base.html" %} {% load staticfiles %}
<!-- this for including anything in head tag -->
{% block head%}
<link href="{% static 'sway/css/forms.css' %}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<link href="/static/geoposition/geoposition.css" type="text/css" media="all" rel="stylesheet"/>
                      <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
                                <script type="text/javascript" src="/static/geoposition/geoposition.js"></script>
{% endblock%}

<!-- all the content that will go into body tag -->
{% block container %}
<div id="form">
{% if id %}
<form action="{% url 'location_edit' id=id %}" class="form-horizontal"  method="POST" role="form">
{% else %}
<form action="{% url 'location_add' %}" class="form-horizontal" method="POST" role="form">
{% endif %}	

	{% csrf_token %}

    {{ form.as_p }}
 
<div class="span7 text-center">
	<button type="submit" class="btn btn-primary" >Submit</button>
</div>

</form>
</div>
{% endblock %} 

