{% extends "bs_base.html" %}
{% load staticfiles %}
<!-- this for including anything in head tag -->
{% block head%}
<link href="{% static 'jquery/jquery.timepicker.css' %}" rel="stylesheet">
<link href="{% static 'jquery/jquery.datetimepicker.css' %}" rel="stylesheet">
<link href="{% static 'sway/css/forms.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/jquery.js' %}"></script> 
<script src="{% static 'jquery/jquery.timepicker.js' %}"></script> 	 	
<script src="{% static 'jquery/jquery.datetimepicker.js' %}"></script>
{% endblock%}

<!-- all the content that will go into body tag -->
{% block container %}
<script type="text/javascript">
jQuery(function(){
       $('.nav a:contains("Leads")').parent().addClass('active');
});
</script>
<div id="form">
{% if id %}
<form action="{% url 'edit_lead' id=id %}" class="form-horizontal"  method="POST" role="form">
{% else %}
<form action="{% url 'save_enquiry' %}" class="form-horizontal" method="POST" role="form">
{% endif %} 
{% csrf_token %}
  <div class="form-group">
    {{ form.name.errors }}
    <label for="{{ form.name.id_for_label }}">Name:</label>
     {{ form.name }}
  </div>
  <div class="form-group">
    {{ form.email.errors }}
    <label for="email">Email:</label>
     {{ form.email }}
  </div>
  <div class="form-group">
    {{ form.mobile.errors }}
    <label for="phone">Mobile/Phone:</label>
     {{ form.mobile }}
  </div>
  <div class="form-group">
    {{ form.inquiryFor.errors }}
    <label for="contact">Interested In:</label>
     {{ form.inquiryFor }}
  </div>
  <div class="form-group">
    {{ form.contact_detail.errors }}
    <label for="contact">Contact Details:</label>
     {{ form.contact_detail }}
  </div>
  <div class="form-group">
    {{ form.short_description.errors }}
    <label for="contact">Description/Requirement:</label>
     {{ form.short_description }}
  </div>
  <div class="form-group">
    {{ form.status.errors }}
    <label for="contact">Status:</label>
     {{ form.status }}
  </div>
  <div class="span7 text-center">
  <button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
</div>
{% endblock %}
