{% extends "bs_base.html" %}
{% load staticfiles %}
<!-- this for including anything in head tag -->
{% block head%}
<link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'sway/css/forms.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/jquery.js' %}"></script>   
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'bootstrap/js/moment.js' %}"></script> 	 	
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
{% endblock%}

<!-- all the content that will go into body tag -->
{% block container %}
<script type="text/javascript">
  jQuery(function(){
       $('.nav a:contains("Leads")').parent().addClass('active');
});
</script>
<div id="form">
 <ol class="breadcrumb">
  <li><a href="/sway/enquiries">{{leadObj.name}}</a></li>
  <li><a href="/sway/followups?lead={{lead}}">Followups</a></li>
</ol>
<form action="{% url 'save_followup'  %}" method="POST" role="form">
<input type="hidden" name="lead" value="{{lead}}"/>	
{% csrf_token %}
  <div class="form-group">
  	<div>
      {{ form.notes.errors }}
    <label for="notes">Followup Comments:</label>
      {{ form.notes }}
    </div>
    <div>	
      <label for="notes">Next Followup On:</label>
    <div class='input-group date' id='nextfollowupdate'>
                  {{ form.nextfollowupdate.errors }}
                  
                    <input name="nextfollowupdate" type='text' class="form-control"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
            $(function () {
                $('#nextfollowupdate').datetimepicker();
            });
        </script>	
  </div>
</div>
  <div class="span7 text-center">
  <button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
</div>
{% endblock %}
