
{% extends "bs_base.html" %}
{% load staticfiles %}
{% block head%}

{% endblock%}

{% block container %}

 <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
 </div>
 <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-child fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ new_leads }}</div>
                                    <div>New Leads</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sway/newleads">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ followup_leads }}</div>
                                    <div>Weekly Follow Ups</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sway/alerts">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ new_members }}</div>
                                    <div>New Members</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sway/newmembers">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ new_events }}</div>
                                    <div>Events this Week</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sway/newevents">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
 </div>
 <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Leads Generated Per Month
                            <div class="pull-right">
                                <!-- div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div -->
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <script>
                                    var data = [];
                                    var month= ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                                    var i = 0;
                                    var requestData = {{ leads|safe }} ;
                                    for(var key in requestData){
                                    if (requestData.hasOwnProperty(key)) {
                                        data[i]={'status':month[key], 'leads':requestData[key]};
                                        i++;
                                    }

                                }

                                    Morris.Bar({
                                      element: 'morris-bar-chart',
                                      data: data,
                                      xkey: 'status',
                                      ykeys: ['leads'],
                                      labels: ['Leads','Status'],
                                      xLabelMargin: 1
                                    });
                                </script>
                                
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                 
                    <!-- /.panel -->
                </div>
                <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Lead Vs Status
                            <div class="pull-right">
                                <!-- div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div -->
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div id="morris-pie-chart"></div>
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <script>
                                var data = []; 
                                var requestData = {{ status_leads|safe }} ;
                                for(var key in requestData){
                                    if (requestData.hasOwnProperty(key)) {
                                        if(requestData[key].status == 3){
                                            data[key]={'label':'Cold', 'value':requestData[key].leads};
                                        }else if(requestData[key].status == 2){
                                            data[key]={'label':'Converted', 'value':requestData[key].leads};
                                        }else if(requestData[key].status == 1){
                                            data[key]={'label':'Closed', 'value':requestData[key].leads};
                                        }else if(requestData[key].status == 4){
                                            data[key]={'label':'Hot', 'value':requestData[key].leads};
                                        }else if(requestData[key].status == 5){
                                            data[key]={'label':'Warm', 'value':requestData[key].leads};
                                        }
                                        
                                    }

                                }
                                    Morris.Donut({
  element: 'morris-pie-chart',
  data:data ,
});
                                </script>
                                
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                 
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
                <!-- /.col-lg-4 -->
            </div> 
{% endblock %}
