<!DOCTYPE html>
{% extends "bs_base.html" %} {% block container %}
<div style="margin-top: 5px">
	<section class="ui-widget-content" id="main_widget">
		<table class="table table-striped" id="eventTable">
			<thead>
				<tr>
					<th data-priority="1">Id</th>
					<th data-priority="2">Name</th>
					<th data-priority="3">Start Date</th>
					<th data-priority="4">End Date</th>
					<th data-priority="5">Start Time</th>
					<th data-priority="6">End Time</th>
				</tr>
			</thead>
			<tbody>
				{% if eventsList %} {% for events in eventsList %}
				<tr>
					<th scope="row">{{ events.id }}</th>
					<td><a href="editevents?id={{events.id}}">{{ events.event_name }}</a></td>
					<td>{{ events.start_date }}</td>
					<td>{{ events.end_date }}</td>
					<td>{{ events.start_time }}</td>
					<td>{{ events.end_time }}</td>
				</tr>
				{% endfor %} {% else %}
				<strong>There are no events present.</strong> {% endif %}
			</tbody>
		</table>

		<div id="Buttonset2">
			<button id="Button3" class="btn btn-primary">
				<a href="/sway/addevents">Add Event</a>
			</button>
		</div>
	</section>
	<script type="text/javascript">
$(function() {
	$( "#Buttonset2" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes" ).buttonset(); 
});
</script>
	{% endblock %}