<!DOCTYPE html>
{% load staticfiles %}

<!-- Hashey AIzaSyBFq4NGdtFgdVmVp2-JZRSt29omfNeDlZ4 -->
<html ng-app="danceStudioListApp">
  <head>
    <meta charset="utf-8">
    <title>DanceStudio</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <script src="{% static 'angular/node_modules/es6-shim/es6-shim.min.js' %}"></script>
 <script src="{% static 'angular/node_modules/systemjs/dist/system-polyfills.js' %}"></script>

<!-- script src="{% static 'angular/node_modules/angular2/bundles/angular2-polyfills.js' %}"></script>
<script src="{% static 'angular/node_modules/systemjs/dist/system.src.js' %}"></script>
<script src="{% static 'angular/node_modules/rxjs/bundles/Rx.umd.js' %}"></script>
<script src="{% static 'angular/node_modules/angular2/bundles/angular2.dev.js' %}"></script -->
<script src="{% static 'angular/angular.min.js' %}"></script>

    <!-- 2. Load our 'modules' -->
    <!-- script src="{% static 'dancehub-angular/dancehub.component.js' %}"></script>
    <script src="{% static 'dancehub-angular/main.js' %}"></script -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- script>
    System.baseURL = '/static';
      System.config({
        packages: {        
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('dancehubAngular/main' )
            .then(null, console.error.bind(console));
    </script-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script>
  <!-- script src="{% static 'dancehubAngular/main.js' %}"></script-->
  <style>
  body {
    background: url("{% static 'images/background-girl.jpg' %}") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.images/background-girl.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background-girl.jpg', sizingMethod='scale')";
  }
  
  .row {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  
  </style>
  </head>
  <body style="overflow-y:hidden;">
    <div class="fluid-container" >
     <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
     <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Icon 1</a></li>
        <li role="presentation"><a href="#">Icon 2</a></li>
        <li role="presentation"><a href="#">Icon 3</a></li>
    </ul>
  </div>
  </div>
      <div class="row">
          <div class="col-md-12" id="locDiv"></div>
          <script>
          var locDiv = document.getElementById('locDiv');
        var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};
        function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};
        function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition,error,options);
          } else {
              locDiv.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        function showPosition(position) {
            //locDiv.innerHTML = "Latitude: " + position.coords.latitude + 
           // "<br>Longitude: " + position.coords.longitude; 
        }
        getLocation();
        var danceStudioListApp = angular.module('danceStudioListApp', []).config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });
        danceStudioListApp.controller('DanceStudioListCtrl', function ($scope) {
         $scope.studios = {};
        });
  </script>
      </div>
      <div class="row">
          <div class="col-md-3" id="left"></div>
          <div class="col-md-6" id="search"><div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." id="location">
            <span class="input-group-btn">
            <button class="btn btn-default" type="Submit">Go!</button>
            </span>
          
          
          </div></div>
          <div class="col-md-3" id="right"></div>
      </div>
      <div class="row" ng-controller="DanceStudioListCtrl" id="studios">
          <div class="col-md-1" style="width:5px;"> </div>
          <div class="col-md-3" id="searchedResults" style="overflow-y:scroll;height:500px;">
            <div ng-repeat="studio in studios track by $index" id="{$studio.id$}" class="thumbnail" style="background-color:transparent">
               
               <img src="{$studio.image$}" alt="{$studio.name$}">
                <div class="caption">
                  <h4>{$studio.name$}</h4>
               </div>
            </div>
          </div>
          <div class="col-md-1" style="width:5px;" id="gap"></div>
          <div class="col-md-8" id="mapDiv" style="height:500px;">
          
            
         
    </div>
      </div>
    </div>
    <script type="text/javascript">
    
    //Autocomplete variables
    var input = document.getElementById('location');
    //var searchform = document.getElementById('form1');
    var place;
    var autocomplete = new google.maps.places.Autocomplete(input);
 
    //Google Map variables
    var map;
    var marker;
    
    //Add listener to detect autocomplete selection
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        place = autocomplete.getPlace();
        $.ajax({
            type: "GET",
            url:"/sway/locations/search",
            data: {
            'latitude': place.geometry.location.lat(),
            'longitude':place.geometry.location.lng(),
            },
            success: function(result,status,xhr){
              if(result.count > 0){
                var studioScope = angular.element(document.getElementById('studios')).scope();
                studioScope.$apply(function() {
                  studioScope.studios=result.data;

                });
                var locations = result.data;
                var l;

                console.log(JSON.stringify(result));
                for(l in locations){
                    var marker=new google.maps.Marker({
                        position:{lat:Number(locations[l].latitude),lng:Number(locations[l].longitude)},clickable:true,
                      });
                      marker.addListener('click',(function(marker,location) {
                              console.debug(location.id);
                              return function() {
                                  window.location.href='#'+location.id;
                              }
                      })(marker,locations[l]));
                      marker.setMap(map);
                      map.setZoom(15);
                      map.panTo(marker.position);
                  }
                }else{
                  alert('Oops!!! No studio here, we will check out.');
                }        
             },
            error: function(){
                alert("Error"+error);
        }});
        
     
    });
 
    //Add listener to search
    /*searchform.addEventListener("submit", function() {
        var newlatlong = new google.maps.LatLng(place.geometry.location.lat(),place.geometry.location.lng());
        map.setCenter(newlatlong);
        marker.setPosition(newlatlong);
        map.setZoom(12);
 
    });*/
     
    //Reset the inpout box on click
    input.addEventListener('click', function(){
        input.value = "";
    });
 
 
 
    function initialize() {
      var myLatlng = new google.maps.LatLng(51.517503,-0.133896);
      var mapOptions = {
        zoom: 5,
        center: myLatlng
      }
      map = new google.maps.Map(document.getElementById('mapDiv'), mapOptions);
      
      marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Main map'
      });
    }
 
    google.maps.event.addDomListener(window, 'load', initialize);
 
</script>
   
  </body>
</html>
