{% extends "bs_base.html" %}


{% block head%}
<!-- for adding anything to html head -->


{% endblock%}


{% block container %}
<!-- Script to show selection for the loaded tab -->
<script type="text/javascript">
	jQuery(function(){
    	 $('.nav a:contains("Instructors")').parent().addClass('active');
});
</script>
<!-- script that will fill delete popup data before showing it -->
<script type="text/javascript">
  $('#confirmDelete').on('show.bs.modal', function (e) {
      $message = $(e.relatedTarget).attr('data-message');
      $(this).find('.modal-body p').text($message);
      $title = $(e.relatedTarget).attr('data-title');
      $(this).find('.modal-title').text($title);
      $href = $(e.relatedTarget).attr('data-href');
      $('#confirmDelete').find('.modal-footer #deletehref').attr('href',$href);
   });
 </script>

<!-- Define your content here-->
					<nav>
					  <ul class="pagination" style="float:right">
					    {% if instructor_list.has_previous %}
					    <li>
					      <a aria-label="Previous" href="?page={{ instructor_list.previous_page_number }}">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    {% endif %}
					    {% for i in instructor_list.paginator.page_range %}
					    {% if instructor_list.number == i %}
					    <li class="active"><a href="#">{{i}}</a></li>
					    {% else %}
					    <li><a href="?page={{i}}">{{i}}</a></li>
					    {% endif %}
					    {% endfor %}
					    {% if instructor_list.has_next %}
				        <li>
				      		<a href="?page={{ instructor_list.next_page_number }}" aria-label="Next">
				        		<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
					    {% endif %}
					  </ul>
					</nav>
					<div class="well well-lg" style="clear:both">
					<form action="{% url 'search_instructor'  %}" method="POST" role="form">
						{% csrf_token %}
						<div class="row">
						  <div class="col-lg-3">
						    <div class="input-group">
						      <input type="text" class="form-control" name="searchStr" placeholder="Search for...">
						      <span class="input-group-btn">
						        <button class="btn btn-primary" type="Submit">Go!</button>
						      </span>
						    </div><!-- /input-group -->
						  </div><!-- /.col-lg-6 -->
						</div><!-- /.row -->
					</form>
					  	<table class="table table-striped table-hover" id="myTable" >
					  <thead>
<tr>
					      <th data-priority="1" >Id</th>
					      <th data-priority="2" >First Name</th>
					      <th data-priority="3" >Last Name</th>
					      <th data-priority="4" >Email</th>
					      <th data-priority="5" >Contact Number</th>
					      </tr>
					      </thead>
					      
					  <tbody>
					         {% if instructor_list %}
					                {% for instructor in instructor_list %}
					                   <tr>
					      <th scope="row">{{ instructor.id }}</th>
					      <td>{{ instructor.first_name }}</td>
					      <td>{{ instructor.last_name }}</td>
					      <td>{{ instructor.email }}</td>
					      <td>{{ instructor.contact_number }}</td>
					      <td>
					      		<a href="/sway/instructors/edit/{{instructor.id}}">
					      			<span rel="tooltip" title="Edit instructor" class="glyphicon glyphicon-edit green"  onmouseover="this.style.cursor='pointer'"></span>
					      		</a>
					      </td>
					      <td>
					       		<span rel="tooltip" title="Delete instructor" class="glyphicon glyphicon-trash red" data-href="/sway/instructors/delete/{{instructor.id}}/" data-toggle="modal" data-target="#confirmDelete" data-title="Delete Instructor" data-message="Are you sure you want to delete this instructor ?" onmouseover="this.style.cursor='pointer'"></span>
					      </td>
					      </tr>
					                {% endfor %}
					        {% else %}
					            <strong>There is no entry for instructor.</strong>
					        {% endif %}
					    </tbody>
					</table>
					</div>
					  <div>
					  	<a href="/sway/instructors/new" class="btn btn-primary">Add Instructor</a>
					   </div>
					   <nav>
					  <ul class="pagination" style="float:right">
					    {% if instructor_list.has_previous %}
					    <li>
					      <a aria-label="Previous" href="?page={{ instructor_list.previous_page_number }}">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    {% endif %}
					    {% for i in instructor_list.paginator.page_range %}
					    {% if instructor_list.number == i %}
					    <li class="active"><a href="#">{{i}}</a></li>
					    {% else %}
					    <li><a href="?page={{i}}">{{i}}</a></li>
					    {% endif %}
					    {% endfor %}
					    {% if instructor_list.has_next %}
				        <li>
				      		<a href="?page={{ instructor_list.next_page_number }}" aria-label="Next">
				        		<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
					    {% endif %}
					  </ul>
					</nav>
<script type="text/javascript">
$(function() {
	$( "#Buttonset2" ).buttonset(); 
});
$(function() {
	$( "#Buttonset1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes" ).buttonset(); 
});
</script>
{% endblock%}

