{% extends "bs_base.html" %}


{% block head%}
<!-- for adding anything to html head -->


{% endblock%}

{% block title %}
Art 2 Fitness

{% endblock%}

{% block container %}
<!-- Define your content here-->

					  	<table class="table table-striped table-hover" id="myTable" >
					  <thead>
<tr>
					      <th data-priority="1" >Id</th>
					      <th data-priority="2" >First Name</th>
					      <th data-priority="3" >Last Name</th>
					      <th data-priority="4" >Email</th>
					      <th data-priority="5" >Contact Number</th>
					      </tr>
					      </thead>
					      
					  <tbody>
					         {% if instructor_list %}
					                {% for instructor in instructor_list %}
					                   <tr>
					      <th scope="row">{{ instructor.id }}</th>
					      <td>{{ instructor.first_name }}</td>
					      <td>{{ instructor.last_name }}</td>
					      <td>{{ instructor.email }}</td>
					      <td>{{ instructor.contact_number }}</td>
					      </tr>
					                {% endfor %}
					        {% else %}
					            <strong>There is no entry for instructor.</strong>
					        {% endif %}
					    </tbody>
					</table>
			
					  <div id="Buttonset2">
					    <button id="Button3" class="btn btn-default"><a href="/sway/add_instructor">Add Instructor</a></button>
					  </div>

<script type="text/javascript">
$(function() {
	$( "#Buttonset2" ).buttonset(); 
});
$(function() {
	$( "#Buttonset1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes" ).buttonset(); 
});
</script>
{% endblock%}

