{% extends "bs_base.html" %}


{% block head%}
<!-- for adding anything to html head -->

<script type="text/javascript">
$(function() {
	$( "#Buttonset2" ).buttonset(); 
});
$(function() {
	$( "#Buttonset1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes" ).buttonset(); 
});
</script>

{% endblock%}

{% block title %}
Art 2 Fitness

{% endblock%}

{% block container %}
<!-- Define your content here-->

<div id="Checkboxes1">
			    <input type="checkbox" id="Checkbox1">
			    <label for="Checkbox1">All</label>
			    <input type="checkbox" id="Checkbox2">
			    <label for="Checkbox2">Active</label>
			    <input type="checkbox" id="Checkbox3">
			    <label for="Checkbox3">Inactive</label>
			  </div>

<section  id="main_widget" class="ui-widget-content">
					  	<table class="table table-striped" id="myTable" >
					  <thead>
					   <tr>
					      <th data-priority="1" >Id</th>
					      <th data-priority="2" >First Name</th>
					      <th data-priority="3" >Last Name</th>
					      <th data-priority="4" >Email</th>
					      <th data-priority="5" >Address</th>
					      </tr>
					      </thead>
					      
					  <tbody>
					         {% if membersList %}
					                {% for members in membersList %}
					                   <tr>
					      <th scope="row">{{ members.id }}</th>
					      <td>{{ members.first_name }}</td>
					      <td>{{ members.last_name }}</td>
					      <td>{{ members.email }}</td>
					      <td>{{ members.area }}</td>
					      </tr>
					                {% endfor %}
					        {% else %}
					            <strong>There are no categories present.</strong>
					        {% endif %}
					    </tbody>
					</table>
			
					  <div id="Buttonset2">
					    <button id="Button3" class="btn btn-primary"><a href="/sway/addmembers">Add Member</a></button>
					  </div>
		</section>

{% endblock%}

