{% extends "bs_base.html" %}


{% block head%}
<!-- for adding anything to html head -->

<script type="text/javascript">
$(function() {
	$( "#Buttonset2" ).buttonset(); 
});
$(function() {
	$( "#Buttonset1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes1" ).buttonset(); 
});
$(function() {
	$( "#Checkboxes" ).buttonset(); 
});
</script>

{% endblock%}

{% block title %}
Art 2 Fitness

{% endblock%}

{% block container %}
<!-- Define your content here-->

  <!-- Default panel contents -->
					  	<table class="table table-striped table-hover" id="myTable" >
					  <thead >
					   <tr>
					      <th data-priority="1" >Id</th>
					      <th data-priority="2" >First Name</th>
					      <th data-priority="3" >Last Name</th>
					      <th data-priority="4" >Email</th>
					      <th data-priority="5" >Address</th>
					      </tr>
					      </thead>
					      
					  <tbody>
					         {% if membersList %}
					                {% for members in membersList %}
					                   <tr>
					      <td >{{ members.id }}</td>
					      <td>{{ members.first_name }}</td>
					      <td>{{ members.last_name }}</td>
					      <td>{{ members.email }}</td>
					      <td>{{ members.area }}</td>
					      </tr>
					                {% endfor %}
					        {% else %}
					            <strong>There are no categories present.</strong>
					        {% endif %}
					    </tbody>
					</table>
					  <div id="Buttonset2">
					    <button id="Button3" class="btn btn-default  "><a href="/sway/addmembers">Add Member</a></button>
					    <button id="Button4" class="btn btn-default"><a href="/sway/members/eventsubscribe">Subscribe Event</a></button>
					  </div>

{% endblock%}

