<!DOCTYPE html>
{% extends "bs_base.html" %}

{% block container %}
<!-- Script to show selection for the loaded tab -->
<script type="text/javascript">
	jQuery(function(){
    	 $('.nav a:contains("Leads")').parent().addClass('active');
});
</script>
					

					<nav>
					  <ul class="pagination" style="float:right">
					    {% if enquiryList.has_previous %}
					    <li>
					      <a aria-label="Previous" href="?page={{ enquiryList.previous_page_number }}">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    {% endif %}
					    {% for i in enquiryList.paginator.page_range %}
					    {% if enquiryList.number == i %}
					    <li class="active"><a href="#">{{i}}</a></li>
					    {% else %}
					    <li><a href="?page={{i}}">{{i}}</a></li>
					    {% endif %}
					    {% endfor %}
					    {% if enquiryList.has_next %}
				        <li>
				      		<a href="?page={{ enquiryList.next_page_number }}" aria-label="Next">
				        		<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
					    {% endif %}
					  </ul>
					</nav>
					<div class="well well-lg" style="clear:both">
					<form action="{% url 'search_enquiry'  %}" method="POST" role="form">
						{% csrf_token %}
						<div class="row">
						  <div class="col-lg-3">
						    <div class="input-group">
						      <input type="text" class="form-control" name="searchStr" placeholder="Search for...">
						      <span class="input-group-btn">
						        <button class="btn btn-primary" type="Submit">Go!</button>
						      </span>
						    </div><!-- /input-group -->
						  </div><!-- /.col-lg-6 -->
						</div><!-- /.row -->
					</form>
					<table class="table table-striped table-hover" id="leadTable" >
					  <thead>
						   <tr>
						      <th data-priority="1" >Name</th>
						      <th data-priority="2" >Email</th>
						      <th data-priority="3" >Mobile</th>
						      <th data-priority="4" >Contact Details</th>
						      <th data-priority="4" >Next Follow Up</th>
						      <th data-priority="4" >Action</th>
						    </tr>
					    </thead>
					  	<tbody>
					         {% if enquiryList %}
					                {% for lead in enquiryList %}
								      <tr>
									      <td>{{ lead.name }}</td>
									      <td>{{ lead.email }}</td>
									      <td>{{ lead.mobile }}</td>
									      <td>{{ lead.contact_detail }}</td>
									      <td>{{ lead.nextFollowUpDate }}</td>
									      <td><a href="/sway/followups?lead={{lead.id}}" title="Add Notes"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></td>
								      </tr>
					                {% endfor %}
							{% endif %}
					    </tbody>
					</table>
			</div>
			<div id="Buttonset2">
				<a href="/sway/enquire" class="btn btn-primary">Add Lead</a>
			</div>
			<nav>
					  <ul class="pagination" style="float:right">
					    {% if enquiryList.has_previous %}
					    <li>
					      <a aria-label="Previous" href="?page={{ enquiryList.previous_page_number }}">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    {% endif %}
					    {% for i in enquiryList.paginator.page_range %}
					    {% if enquiryList.number == i %}
					    <li class="active"><a href="#">{{i}}</a></li>
					    {% else %}
					    <li><a href="?page={{i}}">{{i}}</a></li>
					    {% endif %}
					    {% endfor %}
					    {% if enquiryList.has_next %}
				        <li>
				      		<a href="?page={{ enquiryList.next_page_number }}" aria-label="Next">
				        		<span aria-hidden="true">&raquo;</span>
				      		</a>
				    	</li>
					    {% endif %}
					  </ul>
					</nav>
		
{% endblock %}
