{% extends "bs_base.html" %}
{% load staticfiles %}

{% block head%}
<!-- for adding anything to html head -->

<link href="{% static 'sway/css/forms.css' %}" rel="stylesheet"/>


{% endblock%}


{% block container %}
<!-- Script to show selection for the loaded tab -->
<!-- script that will fill delete popup data before showing it -->
<script type="text/javascript">
  $('#confirmDelete').on('show.bs.modal', function (e) {
      $message = $(e.relatedTarget).attr('data-message');
      $(this).find('.modal-body p').text($message);
      $title = $(e.relatedTarget).attr('data-title');
      $(this).find('.modal-title').text($title);
      $href = $(e.relatedTarget).attr('data-href');
      $('#confirmDelete').find('.modal-footer #deletehref').attr('href',$href);
   });
 </script>
<!-- Define your content here-->

  <!-- Default panel contents -->
  

					<div class="well " style="clear:both">
						 <div class="col">
		  						
								<div class="col">		  
										<ul class="nav navbar-nav">
							                     <li class="active">
							                     <span style="margin:5px">
												<a href="/sway/categories" class="btn btn-primary">My Profile</a></span>
							                    </li>
							                     <li>
							                     <span style="margin:5px">
												<a href="/sway/locations" class="btn btn-default">Location</a></span>
							                    </li>
							                    </ul>
								</div> <!-- end of div "col" middle-->
						   </div> <!--  end of div "col" top-->
					  	
<div  style="clear:both;margin-top:60px; margin-left:-15px">
 <span class="help-block"> From the following widget please select your offering as events or classes for your members.</span>


</div>
		<div id="form" style="clear:both">
			<form id="demoform" action="{% url 'savecategories'   %}" method="post" class="form-horizontal"
    data-fv-framework="bootstrap"
    data-fv-icon-valid="glyphicon glyphicon-ok"
    data-fv-icon-invalid="glyphicon glyphicon-remove"
    data-fv-icon-validating="glyphicon glyphicon-refresh">
			{% csrf_token %}
			<input type='hidden' value="{{ event_id}}" name="event_id" />
            <div class="bootstrap-duallistbox-container row moveonselect"> 
                                <select multiple="multiple" id="id_id" class="form-control" name="dual_box_name" style="height: 181px;">
                               
                                {% for members in allMembers %}
								 <option value="{{ members.categories.id}}" {% if members.selected %} selected="selected" {% endif %}>
								 <table class="table row">
								 <tr>
								 <td>{{members.categories.name}}</td>
								 </tr>
								 </table></option>				
									{% endfor %}
                                </select> 
                                  
            
            <br>
            <br>
           

<div class="form-group">
    <label for="sdescription" class="col-sm-2 control-label">Short Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sdescription" name="sdescription"  value="{{ sdescription }}"
      placeholder="A tag line or something about You in few words" maxlength="128"
                minlength="10"
                data-fv-stringlength-message="The short description must be more than 10 and less than 128 characters">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-xs-5">
      <input type="text" class="form-control" id="description" name="description" value="{{ description }}" placeholder="Something about You" 
      maxlength="512"
                minlength="10"
                data-fv-stringlength-message="The description must be more than 10 and less than 512 characters">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
        	{% if searchable%}
          <input type="checkbox" name="searchable" id="searchable" checked="{{searchable}}">  Check me if you think you are ready to go live!
          {% else %}
	<input type="checkbox" name="searchable" id="searchable" >   Check me if you think you are ready to go live!
      
      {% endif %}
        </label>
        <span class="help-block">We need above information to make things simple for our user to know about You in detail.</span>
      </div>
    </div>
  </div>



  
</div>
			 <div id="Buttonset2">
					    <button id="Button3" class="btn btn-default  ">Save</button>
					    <button id="Button4" class="btn btn-default"><a href="javascript:history.back()">Back</a></button>
			</div>
          </form>

         
		





		   
     	</div> <!-- end of div form -->
     
     </div> <!-- end of div well-->



{% endblock%}
{% block script %}
 


  <link href="{% static 'bootstrap/css/bootstrap-duallistbox.css' %}" rel="stylesheet"/>
  <script src="{% static 'bootstrap/js/jquery.bootstrap-duallistbox.js' %}"></script>
  <script>
    var demo1 = $('select[name="dual_box_name').bootstrapDualListbox(
    {
  		nonSelectedListLabel: 'Non-selected',
  		selectedListLabel: 'Selected',
  		preserveSelectionOnMove: 'moved',
  		moveOnSelect: false
	}
    );

    $("#demoform").submit(function() {
    	 

		x = $('[name="dual_box_name"]').val();
		if (x == null || x == "") {
        	alert("select atleast one value");
        return false;
    }
      return true;
    });
     </script>

{% endblock %}


