<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/jquery-ui.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'bootstrap/css/logo-nav.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    .table-hover tbody tr:hover td
    {
        background-color: white;
        color: orange;
        }     
        
	</style>
{% block head %}

{% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                <!-- <img src="http://placehold.it/150x50&text=Logo" alt=""> -->
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top_level_navigation">
                {% block navigation %}
             
                <ul class="nav navbar-nav ">
                	<li>
                     <a href="/sway/dashboard">Dashboard</a>
                    </li>
                   <li>
                      <a href="/sway/members">Members</a>
                    </li>
                     <li>
                        <a href="/sway/events">Events</a>
                    </li>
                      <li>
                        <a href="/sway/instructors">Instructors</a>
                    </li>
                    <li>
                        <a href="/sway/enquiries">Leads</a>
                    </li>
              	</ul>
				<ul class="nav navbar-nav navbar-right" >
							 {% if user.is_anonymous %}
							     <li class="dropdown" ><a href="{% url 'django.contrib.auth.views.login' %}" title="Login" >Login</a></li>
							      {% else %}
							  			<li class="dropdown">
								  			<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="user profile options" aria-expanded="false">
									  			<i class="fa fa-star text-yellow"></i> {{user.username}} 
									  			<b class="caret"></b>
								  			</a>
								  			<ul class="dropdown-menu" role="menu">
								  			  <li>
						                            <a href="#">My Account</a>
						                        </li>
						                         <li class="divider"></li>
						                        <li>
						                            <a href="{% url 'django.contrib.auth.views.logout' %}" title="Logout">Logout</a>
						                        </li>
						                    </ul>
							  			</li>
							      {% endif %}
					   	 
				   	  </ul>
				   	  
		               {% endblock %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    
    <div class="container" style="width:100%">
    <section class="ui-widget-content" id="main_widget">
    <div  class="well well-lg">
       {% block container %}
       
       {% endblock %}
       </div>
    <!-- /.container -->
    </div>
    </section>
    
    <!-- jQuery -->
 
    <!-- Bootstrap Core JavaScript -->
{% block script %}

{% endblock %}
</body>
</html>
